  <div class="parallax-window" data-position="top" data-bleed="200" data-natural-width="1400" data-natural-height="900" data-mirror-container="#content" data-parallax="scroll" data-image-src="/images/banner.png">
  </div>