.files {
    &-head {
        background-color:#212121;
        a.btn {
            background-color: #10ac84;
            border-color: #10ac84;
        }
    }
}

.files-wrapper {
    .img {
        &-thumbnail {
            background-color: #343a40;
            border-color: #212121;
        }
    }
}